<!DOCTYPE html>
<html>
   <head>
      <title>Wyahh</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="icon" href="images/favicon.png" type="image/x-icon"> -->
      <!--  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap4.min.css">
      <link rel="stylesheet" type="text/css" href="css/admin.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/bootstrap-multiselect.css">
      <link href="css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link href="css/intlTelInput.css" rel="stylesheet" media="screen">
   </head>
   <div id="wrapper">
   <aside id="sidebar-wrapper" class="shadow1">
      <div class="sidebar-brand">
         <a href="Dashboard.php">
         <img src="images/Image1.png" class="desktop-logo"></a>
      </div>
      <ul class="sidebar-nav">
         <li class="active">
            <a href="Dashboard.php" class="hover"><i class="fa fa-dashboard"></i>Dashboard</a>
         </li>
         <li ><a href="manage-customer.php" class="hover"><i class="fa fa-address-card" ></i> My Account</a></li>

         <li>
            <a href="mypost.php" class="hover"><i class="fa fa-list-alt"></i>My Post</a>
         </li>
         <li>
            <a href="media.php" class="hover"><i class="fa fa-picture-o"></i>Media Library</a>
         </li>
         <li>
            <a href="terms.php" class="hover"><i class="fa fa-comments-o"></i>Terms and Conditions</a>
         </li>
    
 
  
      </ul>
   </aside>
   <div id="navbar-wrapper">
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="header-cont d-flex justify-content-between">
               <div class="navbar-header">
                  <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i>
                  <img src="images/icons/logo.png" class="mobile-logo"></a>
                  
               </div>
               <div class="head-right">
                  <ul>
                     <li class="border-rightss">
                       <span style="color: white;font-size: 18px;padding: 9px 2px 9px 15px; font-weight: 100;">Welcome John</span>
                        <div class="dropdown show">
  <a class="basic" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
    Basic Account <i class="fa fa-angle-down"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Primary Account</a>
    <!-- <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a> -->
  </div>
</div>
                     </li>
                     <li><a href="index.php" style="color: white;font-size: 18px;">Log Out</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
   </div>