<!DOCTYPE html>
<html>
<head>
  <title>Wyah</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/css/admin.css">
   <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body style="background-color:black;">



<!-- Header Section-->
<div class="main__div" >
  <div class="container">
    <div class="row">
       <div class="col-md-6">
        <div >
        <img src="/images/Group4082.png" class="group-wyah">
      </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="grop-wyah"> 
        
      </div>
      </div> -->
      <div class="col-md-6" >
        <div class="ajdust-div">
     <div class="password-forget">
       <h1 class="forget-password">Forgot Password</h1>
     </div>
     <div>
       <form action="/users/forgetpassword" method="post" >
        <input type="email" name="email" class="form-control password" placeholder="Email">
        <p class="enteremail">Enter the email address associated <br>with your account.</p>
       <div class="OTP-in-button">
          <a> <button type="submit" class="btn btn-primary OTP">Send OTP</button></a>
        </div>
       </form>
       
     </div>
     <div>
       
     </div>
      </div>
    </div>
  </div>
    </div>
<div>

</div>
<!-- {{!-- <?php include( 'include/admin-footer.php');?> --}} -->