<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form id="uploadForm"action="/user/videoupload"method="post">
        <input type="file" name="userFile"/>
        <input type="submit" value="Upload File" name="submit"/>
</form>
</body>
</html>